VITE_APP_AUTH_DOMAIN=
VITE_APP_AUTH_CLIENT_ID=
VITE_APP_AUTH_CLIENT_SECRET=
VITE_APP_EMAIL_ID=
VITE_APP_EMAIL_API_KEY=
VITE_APP_MODERATOR_EMAIL=

VITE_APP_ADMIN_USER=

VITE_APP_AUTH_CALLBACK_URL=
VITE_APP_AUTH_LOGOUT_URL=

VITE_APP_API_SERVER_URL=