VITE_APP_AUTH_DOMAIN=https://login.uu.nl/nidp/oauth/nam
VITE_APP_AUTH_CLIENT_ID=999d26ca-ca3b-47ce-a2f4-47b71a3bbadb
VITE_APP_AUTH_CLIENT_SECRET=riZRdYzIHeyxRZAmDBycH9OaE4rpehFwUt5P2m2QtCBupesk2Ni2BU4yQ51W8by0JbBlGvgfmFNn-KDFiivMkw
VITE_APP_AUTH_REFRESH_URL=https://login.uu.nl/nidp/oauth/nam/token

VITE_APP_AUTH_CALLBACK_URL=https://www.copernicus-model-atlas.uu.nl/callback
VITE_APP_AUTH_POST_LOGOUT_URL=https://www.copernicus-model-atlas.uu.nl
VITE_APP_EMAIL_ID=360844566469-aare33fg9o9rksu2vp3mge5ghd7srp6m.apps.googleusercontent.com
VITE_APP_EMAIL_API_KEY=AIzaSyClk3_qigHZgp8yITjiH8WLQhP0rMVAR4Y
VITE_APP_MODERATOR_EMAIL=mooscastelijn@gmail.com

VITE_APP_ADMIN_USER=f78916723e99f74685cdf78916723e99

VITE_APP_API_SERVER_URL=https://api-geo-acc-modelatlas.apps.cl01.cp.its.uu.nl